<!DOCTYPE html>
<html lang="en" style='overscroll-behavior: none;' >
  <head>
    <title>Pan-Canadian Genome Library</title>
    <meta name="description" content="PCGL">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="manifest" href="/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>

  <body style="margin: 0; overscroll-behavior: none;">
    <div id='app'>{{ APP }}</div>
  </body>
</html>
